[Unit]
Description=GPIO to Mosquitto
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
WorkingDirectory=/opt/buro-iot
ExecStart=/opt/buro-iot/gpio2mosquitto/run.sh

[Install]
WantedBy=multi-user.target
