#!/bin/ansible-playbook

- hosts:
    - rtsp-server
  become: true
  vars:
    path: '/root/{{ path_prefix }}/rtspserver'
  tasks:
    - name: Create rtsp server data directory
      ansible.builtin.file:
        path: "{{ path }}/data"
        state: directory

    - name: Create rtsp server confif directory
      ansible.builtin.file:
        path: "{{ path }}/config"
        state: directory

    - name: 'Install config'
      ansible.builtin.template:
        src: "../etc/mediamtx.yml"
        dest: "{{ path }}/config/mediamtx.yml"

    - name: Run rtspserver docker container
      community.docker.docker_container:
        init: true # use tini, why use tini https://github.com/krallin/tini/issues/8
        image_name_mismatch: 'recreate'
        image: 'docker.io/bluenviron/mediamtx:0.23.5'
        name: '{{ rtsp_server_host_docker }}'
        recreate: true
        state: started
        restart_policy: always
        env:
          MTX_PROTOCOLS: tcp
        networks:
          - name: 'main'
        publish:
          - 8554:8554
          - 1935:1935
          - 8888:8888
          - 8889:8889
        volumes:
          - "{{ path }}/data:/var/mediamtx"
          - '{{ path }}/config/mediamtx.yml:/etc/mediamtx.yml'
        labels:
          traefik.enable: "true"
          traefik.http.routers.rtspserver.entryPoints: "websecure"
          traefik.http.routers.rtspserver.tls.certResolver: "myresolver"
          traefik.http.routers.rtspserver.rule: 'Host(`{{ rtsp_server_host_public }}`)'
          traefik.http.services.rtspserver.loadbalancer.server.port: '{{ rtsp_server_port }}'
