[Unit]
Description=MQTT Camera
After=network.target

[Service]
User=root
Type=simple
Restart=always
RestartSec=20
Environment="prefix={{ ansible_host }}"
Environment="entity_name={{ iot_area }} camera"
Environment="object_id={{ iot_area }}-camera-mqtt"
Environment="mqtt_client_id=camera-{{ mqtt_client_id }}"
Environment="mqtt_url=mqtt://{{ mqtt_user }}:{{ mqtt_password }}@{{ mqtt_host }}:{{ mqtt_port}}"
ExecStart=/opt/mqtt-camera/run.sh

[Install]
WantedBy=multi-user.target
